!!! Strict
%html
  %head
    %title Engagement de mis usuarios 
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %link{ :rel => "stylesheet", :type =>"text/css", :href=>"stylesheets/styles.css"}
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
    %script{ :type => "text/javascript", :src => "/javascripts/application.js"}
    %link{ :type => "image/x-icon", :rel => "shortcut icon", :href => "/images/favicon.png"}
    <script type="text/javascript" src="http://use.typekit.com/pxx7reo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    :javascript
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=300011373351057";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));    
    .fold_1
      .background
        .wrapper
          .title
            %h4 ENGAGEMENT
            %h2 de mis
            %h4 USUARIOS
 	
          .text.left
            %p El engagement es el grado en el que un consumidor interactúa con tu marca. 
            %p{:style =>"color: #228B90;"} El compromiso entre la marca y los usuarios.
          .text.right
            %p Esto se basa en crear cierta fidelidad y motivación para que nuestros usuarios defiendan y se sientan parte de la marca, y de esta manera nos refieran nuevos usuarios. Tener usuarios engaged con tu marca es algo invaluable, ya que al pasar del tiempo se convertirán en evangelizadores de la marca. El éxito de tu negocio depende de los usuarios recurrentes.
          = partial :footer 
    .fold_2
      .measure
      .wrapper
        .fold1_content
          .title2
            %h1 ¿Cómo medir el engagement de mis usuarios?
            %br
          .engagement.left
            %p Mucha gente usa herramientas como Facebook insights, pero a la hora de medir el engagement esto no es suficiente. El engagement no se mide con Likes, sino con <a href ="http://esturisti.co/">interacciones con tu marca.</a> No es lo mismo decir "Me gusta" a mantener una conversación continua con la marca. Cuando un usuario interactua con tu marca, está tomándose el tiempo y esfuerzo de decir que le gusta la experiencia que le estas brindando, esto es invaluable. 
          .image
            %img{:src =>"/images/engagement.png"}	
          = partial :footer 
          	
		
    .fold_3
      .wrapper
        .fold1_content
          .title2
            %h4 ¿Por qué Facebook?
          .facebook.left
            %p{:style =>"font-size: 24px; line-height: 35px;"} Más del 80% de las empresas usan Facebook. Cuenta con mas de 600 millones de usuarios registrados en todo el mundo. Un usuario dedica mas de 55 minutos en Facebook al día.
            %p Facebook se ha convertido en un lugar importante para la comunicación y la interacción de los usuarios con las marcas. La mayor interacción se hace con el botón de "Like" o "Me gusta" ya que el 84% de las interacciones se hacen por este medio. Es muy importante <a href ="http://esturisti.co/">medir y saber cual es el contenido que le gusta más a mis usuarios</a>, para así poder generar más interacciones en mi página.
            %p Todo aquello que se lleva a cabo en la página debe medirse (sobre todo el engagement de mis usuarios). Lo importante no son los datos cuantitativos, sino la interpretación que se realice de ellos.
          .image
            %img{:src =>"/images/funnel.png"}
          = partial :footer 
          
		
    .fold_4
      .wrapper
        .fold1_content
          %h4 Algunas ideas
          .ideas.left
            %h3 Conversa con tus usuarios.
            %p Es esencial que tus usuarios no se sientan ignorados. <a href ="http://esturisti.co/">Responde todos tus mensajes</a>, que tu usuario vea que te tomaste el tiempo de elaborar una respuesta. La respuesta que le des no debe ser una plantilla estándar, sino una  personalizada de acuerdo al caso. Debes estar constantemente en busca de un diálogo, no esperes a que tus usuarios te hablen. Las preguntas son buenas para alentar al engagement, pide opiniones, que tus usuarios compartan historias con la comunidad. El contenido que generamos debe ser pensado para activar conversaciones. 

            %h3 Ten una personalidad definida.
            %p Tus usuarios estarán más engaged con tu marca si sienten que están hablando con una persona, no con una corporación. Ten una imagen y un tono de conversación consistentes. Ten una conversación natural, que tus usuarios no sientan que les estas constantemente vendiendo algo.

            %h3 Genera contenido de interés.
            %p Tus usuarios esperan leer contenido relevante. <a href ="http://esturisti.co/">Debes tener métricas del contenido que más le gusta a tus usuarios</a>, para así poder generar contenido que asegure el engagement. Tener contenidos que generen vínculos con tus usuarios creará comunidades de mejor calidad, páginas con más likes, marcas más seguidas, contenido más compartido, y en general usuarios más engaged. Lo que diferencia una página exitosa de una que no lo es, es la interacción y la participación de los usuarios. 
          .images
            %img{:src =>"/images/ideas.png"}
          = partial :footer
          
